@charset "ISO-8859-1";

.header
{
   margin-left:2px;
   margin-right:2px;
}

button:hover{
	color:blue;
}



.navbar{
    height:100px;
    border:2px solid black;
    margin-left:2px;
    margin-right:2px;
 
}



