@charset "ISO-8859-1";

.container{
	
}

.col-md-3{
	margin-top: 40px;
	/*margin-bottom: 40px;*/
	
}

.card w-100{
	width: 18rem;
}

.card-img-top{
	height:170px;
	width:300px;
}

.imageName{
	margin-left: 16px;
}

.name{
	margin-left: 14px;
}

